* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
select {
  outline: 0;
  border: 0;
}

h1 {
  font-size: 2.625em;
  font-weight: 700;
}

h2 {
  font-size: 1.625em;
  font-weight: 700;
}

a {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 16.69px;
  text-decoration: none;
}

p {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.underline a {
  opacity: 0.5;
}

.main_header {
  width: 900px;
  margin: 0 auto;
}

.main_header div h1 {
  width: fit-content;
  padding: 5px 20px;
  display: flex;
  color: #fff;
  box-shadow: rgb(2, 2, 90) 2px 2px 2px;
  background-color: rgba(0, 0, 255, 0.4);
}

.main_header nav {
  background-color: rgb(2, 2, 90);
}

.main_header nav ul {
  flex-basis: 100%;
  display: flex;
}

.main_header nav ul li {
  list-style: none;
  display: flex;
  padding: 10px;
}

.main_header nav ul li a {
  color: #fff;
  margin: 4px;
}

.main_header_cta {
  width: 100%;
  background-image: url(../image/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: top;
  height: 15em;
}

.main_header_cta .fundo {
  background-color: rgba(2, 2, 90, 0.4);
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* body */

.main_body {
  width: 900px;
  margin: 80px auto;
}

.main_body h2 {
  color: rgba(0, 0, 255);
  padding: 20px 0;
}

.main_body p {
  padding: 0;
}

.formulario {
  max-width: 38em;
  margin: 0 auto;
}

.formulario form {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"] {
  flex-basis: 100%;
  padding: 4px 10px;
  margin: 10px 0;
  border-bottom: rgb(2, 2, 90) solid 1px;
}

.formulario h3 {
  margin: 10px 0;
}

.formulario input[type="date"] {
  margin: 10px 0;
  border-bottom: rgb(2, 2, 90) solid 1px;
}

.formulario form div {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.formulario form .radio {
  flex-wrap: wrap;
  flex-basis: 100%;
}

.formulario form .radio p {
  flex-basis: 100%;
  padding: 4px 10px;
  margin: 5px 0;
}

.formulario form div select {
  padding: 4px 10px;
  margin: 10px 0;
  border: rgb(2, 2, 90) solid 1px;
}

.formulario form div input[type="button"] {
  padding: 5px 15px;
  color: #fff;
  font-size: 1em;
  background-color: rgb(2, 2, 90);
  margin: 10px 0;
}

/* footer */

.main_footer {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 42);
  color: rgb(129, 129, 217);
}

.main_footer ul li {
  list-style: none;
  display: flex;
  padding: 5px 0;
}

.main_footer ul li a {
  margin: 4px 0;
  color: rgb(195, 195, 225);
}

.main_footer ul li a:hover {
  border-bottom: rgb(129, 129, 217) solid 2px;
}

.main_footer article {
  padding: 40px;
}

.main_footer article ul {
  padding-top: 20px;
}

.main_footer article ul li {
  padding-bottom: 4px;
}

.main_footer .redes_sociais ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 2px;
}

.footer {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(0, 0, 19);
}

.footer p {
  text-align: center;
  padding: 20px;
  color: rgb(129, 129, 217);
}